
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/StyleSheet.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'Bootstrap/css/bootstrap.min.css' %}" type = "text/css"/>
    <title></title>
</head>
<body>
		<!-- header -->
        <div id="dash_header" class="container">
            <section class="headerStyle">
            	<h1 class="logoStyle">MyTrans</h1>
            </section>
             <aside class="asideStyle">
                <a href="{% url 'loadItems' %}" class="btn btn-default-header">Dashboard</a>
                <a href="{% url 'addTrans' %}" class="btn btn-default-header">New Transaction</a>
                <a href="{% url 'category' %}" class="btn btn-default-header">Category List</a>
                <a href="{% url 'addcategory' %}" class="btn btn-default-header">New Additional Categories</a>
                <a href="{% url 'logout' %}" class="btn btn-default-header">Log Out</a>
            </aside>
        </div>
        <hr>
		<!-- End header -->

		<!-- Display list -->
		<form target="_self">

        <div class="container">
          <h3>Category Details</h3>
            <table class="table table-responsive table-hover" id="TransTable">
            <thead>
              <tr>
                  <th title="Type" data-type="text">Type</th>
                  <th title="Description" data-type="text">Description</th>
              </tr>
            </thead>
            <tbody>
             {% for item in items %}
                <tr>
                    <td>
                        {{ item.Cate_Type|capfirst}}
                    </td>
                    <td>
                        {{ item.Cate_Desc|capfirst }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div id="dash_footer">

        </div>

    </form>
	<hr>
	<!-- END Display list -->



        <script type="text/javascript" src={% static 'js/HeaderScript.js' %}></script>
        <script type="text/javascript" src={% static 'js/category.js' %}></script>
		<script type="text/javascript" src={% static 'Bootstrap/js/bootstrap.min.js' %}></script>


</body>
</html>
